<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ansible Deployed Tomcat</title>
  <meta name="description" content="Ansible Created Content">
  <meta name="s.geethakrishna@accenture.com" content="Ansible"SitePoint">

</head>

<body>
    <h1>Ansible execution completed - Tomcat is coming on {{ inventory_hostname }}</h1>
</body>
</html>
